html,body{
    background-color: #26cdf7   ;
}

header{
    text-align: center  ;
    font-size: xx-large;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 96.75%;
    
    height: 80px;
    margin-top: 4rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color:#fb5e37 ;
    
}
section.datito{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color:#fb5e37  ;
}
section.datos{
    background-color: rgb(6, 255, 234);
    margin: 1rem;
    border:2px solid rgb(0, 0, 0);
}
article{
    text-align: center;
    font-size: x-large;
    background-color: #fc8e73;
    border: 2px solid rgb(0, 0, 0);
    width: 47%;
    height: 45%;    
    display: inline-table;    
    margin: 2rem;
    
}
section.asides{
    background-color: #6aff06;
}
aside{
    
    
    width: 25%;
    
    height: 25%;
}
img.grande{
    width: 10%; 
    height: 10%;
}
img.mediano{
    width: 100px; 
    height: 100px;
}
img.pequeño{
    width: 50px; 
    height: 50px;
}
.regresar{
    margin-top: 8cm;
}