
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif0;
    color: #cacaca;
    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    

}
html, body{
    
    background-color: #1d2f3d   ;
    scroll-behavior: smooth;
}
div.nombre{
    margin-top: 1%;
    
    font-size: xx-large;
    margin: 3%;
    padding: 1%;
}
h1.nombre_h1{
    color: #cacaca;
    font-size: 2vw;
    
}
h1.titulo-dats{
    color: #1d2f3d;
}
div.nav{
    
    text-align: right ;
    margin-left: 20%;
    height: 5%
    
}
ul.barra-enlaces{
    
    text-align: center;
    font-size: x-large;
    width: 90%;
    padding: 1%;
    box-sizing: border-box;       
    margin-left: 20%;
}
a.datos{
    
    font-size: 4%;
    margin: 2%;
    
}
a.esco{
    
    font-size: 4%;
    margin: 5%;
}
a.cursos{
    
    font-size: 4%;
    margin: 5%;
}
a.hobbies{
    
    font-size: 4%;
    margin: 5%;
}
a.habilidades{
    
    font-size: 4%;
    margin: 5%;
}
.img-bienvenida{
    padding: 4.4%;
    height: 50%;
}

img.img-circulo{    
    margin-top: 5rem;
    margin-left: 6rem;
    width: 35rem;
    height: 35rem;
    border: 0.25rem solid #000;    
    border-radius: 50%;
}
.imagen{
    
    display: inline-block;
    text-align: left;
}
.bienvenida{
    margin: 10%;
    font-size: xx-large;    
    display: inline-block;
    text-align: right;    
    width: 50%;    
}
.bienvenida-texto{
    text-align: left;
    font-size: 2.5vw;    
}
.bienvenida-texto2{
    text-align: left;
    font-size: 2vw;    
}
/*En tu hoja de estilos */
a:link, a:visited, a:active {
    text-decoration:none;
    
}

/*Barra de navegacion*/
.navbar{
    position: sticky;
    top: 0;
}
.navegador{
    width: 100vw;
    height: 12rem;
    background-color:#ffcd48;
    margin:0;
    
    text-align: center;
    padding: 0 ;
    position: sticky;
    top: 0;
}


.dato-circulo-nav :hover {
    background-color: #1d2f3d;
    color: #cacaca;
    cursor: pointer;
  }
.esco-circulo-nav{
    display:inline-table;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 10vw;
    height: 10vh;
}
.esco-circulo-nav :hover {
    background-color: #1d2f3d;
    color: #cacaca;
    cursor: pointer;
  }
.cursos-circulo-nav{
    display:inline-table;
    margin-left: 2%;
    margin-right: 2%;
    width: 10%;
    height: 10%;    
}
.cursos-circulo-nav :hover {
    background-color: #1d2f3d;
    color: #cacaca;
    cursor: pointer;
  }
.hobbies-circulo-nav{
    display:inline-table;
    margin-left: 2%;
    margin-right: 2%;
    width: 10%;
    height: 10%;
        
    
}
.hobbies-circulo-nav :hover {
    background-color: #1d2f3d;
    color: #cacaca;
    cursor: pointer;
  }
.habilidades-circulo-nav{
    display:inline-table;
    margin-left: 2%;
    margin-right: 2%;
    width: 10%;
    height: 10%;
}
.habilidades-circulo-nav :hover {
    
    background-color: #1d2f3d;
    color: #cacaca;
    cursor: pointer;
  }
  a.datos:hover{
      margin-top: 0;
  }
.nav-letra{
    text-align: center;
    margin: 0;
    height: 5rem;
    font-size: 2.2rem;
    color: #1d2f3d;
}
p.letra-menu{
    
    text-align: center;
    font-size: 100%;
    color: #ffcd48;
}
.letra-menu2{
    font-size: 3rem;
    color: #ffcd48;
}
/*SECCION DATOS PERSONALES*/
h3.datos{
    font-size: 3.2rem;
}

.informacion{
    text-align: center  ;
    font-size: x-large;
    border: 2rem #1d2f3d;
    border-radius: 10px;
    width: 90%;    
    height: 100%;
    margin-top: 0;
    margin-bottom: 4rem;
    align-items: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color:#cacaca8e ;
    
}

.indice-dtos{
    display: inline-block   ;    
}
.seccion-datos{
    text-align: center  ;
    font-size: xx-large;
    
    border-radius: 10px;
    width: 60%;    
    height: 50rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color:#cacaca ;
}
.titulo-datos-personales{
    text-align: center  ;
    font-size: xx-large;
    border: 10px #ffcd48;
    border-radius: 10px;
    width: 95%;    
    height: 8rem;
    margin-top: 4rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color:#cacaca ;
}

section.datito{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 90%;
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color:#1d2f3d;  ;
}
section.datos{
    background-color: #ffcd48;
    margin: 1rem;
    border:2px solid #cacaca;
}
section.datos2{
    background-color: #e83555;
    margin: 1rem;
    border:2px solid #cacaca;
}
section.datos3{
    background-color: #d1c928;
    margin: 1rem;
    border:2px solid #cacaca;
}
.dtos{
    text-align: center;
    font-size: x-large;
    background-color: #cacaca;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2rem;
    width: 47%;
    height: 45%;    
    display: inline-table;    
    margin: 2rem;
    
    
}
.dtos2{
    text-align: center;
    font-size: x-large;
    background-color: #cacaca;
    
    width: 47%;
        
    display: inline-table;    
    margin: 2rem;
    
}
.dtos2-nav{
    text-align: center;
    font-size: x-large;
    background-color: #1d2f3d   ;
    border: 5rem #000;
    border-radius: 1rem;
    width: 47%;
    height: 100%;    
    display: inline-table;    
    margin: 2rem;
    
}
.dtos3-nav{
    text-align: center;
    font-size: x-large;
    
    border-radius: 1rem;
    width: 47%;
    height: 45%;    
    display: inline-table;    
    margin: 2rem;
    
}
.dtos-letra-a{
    color: #1d2f3d;
}
aside{
    position: sticky;
    top: 2%;
}

/*Colores*/

/*
    #cacaca = Fondo 
    #e83555 = rosa
    #60d0d4 = Azul
    #d1c928 = Amarillo
*/


/*Animacion*/

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}



hr{
    border-color: var(--hr-color);
    margin:20px 0;
}

.barra-enlaces-nav{
    display: flex;
    justify-content: center;
}

.barra-enlaces-nav li{
    margin-right: 70px;
}

.barra-enlaces-nav a{
    position: relative;
    display: block;
    overflow: hidden;
}

.barra-enlaces-nav a span{
    transition: transform 0.2s ease-out;

}

.barra-enlaces-nav a span:first-child{
    display: inline-block;
    padding: 10px; 

}

.barra-enlaces-nav a span:last-child{
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.barra-enlaces-nav i{
    font-size: 30px;

}

.barra-enlaces-nav a:hover span:first-child{
    transform: translateY(-100%);
}

.barra-enlaces-nav a:hover span:last-child, 
.barra-enlaces-nav[data-animation] a:hover span:last-child{
    transform: none;
}


/* Animaciones*/

.barra-enlaces-nav[data-animation="to-top"] a span:last-child {
    transform: translateY(-100%);
  }
.barra-enlaces-nav[data-animation="to-top"] a span:last-child {
    transform: translateY(-100%);
  }

.barra-enlaces-nav[data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
  }
.barra-enlaces-nav[data-animation="to-right"] a span:last-child {
    transform: translateX(100%);
  }

.barra-enlaces-nav[data-animation="to-left"] a span:last-child {
    transform: translateX(100%);
  }
  .barra-enlaces-nav[data-animation="to-left"] a span:last-child {
    transform: translateX(-100%);
  }



  /*RESPONSIVE*/

 @media screen and (max-width:200px){
     .navegador{
         flex-wrap: wrap;
         margin: 0;
         width: 100%;
     }
 }