html, body{
    background-color: #26cdf7   ;
}

header{
    text-align: center  ;
    font-size: xx-large;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
 
    align-items: center;
    height: 15vh;
    margin-top: 4rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color:#fb5e37 ;
    
}
nav{
    text-align: center;
    font-size: 5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    margin-top: 2rem;
   
    height: 90%;
    background-color:#fb5e37  ;
}
article.links{
    
    margin:5rem;
    
    padding: 1rem;
    
    display: inline-block;
    
    
}




section, aside{
    text-align: center;
    font-weight: 500;
    
    border: 0.2rem solid rgb(2, 2, 2);
    margin: 0.5rem;
    border-radius: 10px;
    padding: 0.5rem;
}
 aside{
    width: 40%;
    display: inline-block;
    height: 60%;
}
section{
    background-color: rgb(6, 255, 234);
}
img.grande{
    width: 200px;
    height: 200px;
}
img.mediano{
    width: 100px; 
    height: 100px;
}
img.pequeño{
    width: 50px; 
    height: 50px;
}
.subtitulos{
    
    background-color: #13c9f6;
    border: 2px solid rgb(2, 2, 2);
    margin: 0.5rem;    
    padding: 1rem;
    
}
article.sub{
    margin: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    width: 15%;
    display: inline-block;
    height: 10rem;
}
.menu{
    background-color: #fc8e73;
    font-size: 15px;
    border: 2px solid rgb(2, 2, 2);
    margin: 0.5rem;    
    padding: 1rem;
}