html, body{
    background-color: #26cdf7   ;
}

header{
    text-align: center  ;
    font-size: xx-large;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 96.75%;
    
    height: 80px;
    margin-top: 4rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color:#fb5e37 ;
    
}
nav{
    text-align: center;
    font-size: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color:#fb5e37  ;
}
article{
    
    margin: 0.5rem;
    
    padding: 1rem;
    width: 15%;
    display: inline-block;
    height: 10px;
    
}

.main-container{
    margin: 15px ;
 
}


section, aside{
    text-align: center;
    font-size: 15px;
    border: 2px solid rgb(2, 2, 2);
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}
 aside{
    width: 40%;
    display: inline-block;
    height: 300px;
}
section{
    background-color: rgb(6, 255, 234);
}
img.grande{
    width: 200px; 
    height: 200px;
}
img.mediano{
    width: 100px; 
    height: 100px;
}
img.pequeño{
    width: 50px; 
    height: 50px;
}
.subtitulos{
    font-size: 15px;
    background-color: #13c9f6;
    border: 2px solid rgb(2, 2, 2);
    margin: 0.5rem;    
    padding: 1rem;
    
}
article.subtitulos{
    
    border: 2px solid rgb(0, 0, 0);
    width: 15%;
    display: inline-table;
    height: 10px;
}
.menu{
    background-color: #fc8e73;
    font-size: 15px;
    border: 2px solid rgb(2, 2, 2);
    margin: 0.5rem;    
    padding: 1rem;
}