*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #cacaca;
}
header.principal{
    box-sizing: border-box;
    
    padding: 45px;
    text-align: center;
    background-color: rgb(255, 204, 0);
    
    
}
header.titulo{
    margin: 40px;
    text-align: center;
}
a{
    color: #009999;
    text-decoration: none;
}

p{
    font-size: 26px;
    text-align: center;
    justify-content: center;
    color: #000000;
}
div{
    font-size: 15px;
    align-items: center;
    width: 100;
    justify-content: center;
    display: block;
}

/*-- Diseño de elementos --*/
#texto1,
#texto2,
#texto3,
#texto4,
#texto5,
#final{
    font-size: 20px;
    align-items: center;
    width: 100;
    justify-content: center;
    display: block;
}

#introduce_texto{
    margin: 10px;
    width: 15%;
	background-color: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 35px;
	line-height: 35px;
	padding: 0 40px 0 10px;
	transition: .4s ease all;
}
#introduce_texto:focus{
    border: 3px solid #0075FF;
	outline: none;
	box-shadow: 15px 0 30px rgba(163, 163, 163, 0.4);
}
#resultado{
    margin: 10px;
    width: auto;
    background-color: #0f6377f8;
	color:#ffcc00 ;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 30px;
	line-height: 30px;
	padding: 0 40px 0 10px;
	transition: .4s ease all;
}
#Botones{
    height: 25px;
	line-height: 25px;
	width: 8%;
	background-color: #383838;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1 ease all;
}
#Botones:hover{    
	background-color: #000000;	
}
.texto-error{
    color: #ff0d00
}
/*
ESCONDER LOS INPUTS
*/
#parcial1{
    display: block;
}
#parcial2{
    display: none;
}
#parcial3{
    display: none;
}
#examen{
    display: none;
}
#trabajo{
    display: none;
}
#total{
    display: none;
}
#error__dato,#error__borrar_dato,
#error__dato2,#error__borrar_dato2,
#error__dato3,#error__borrar_dato3,
#error__dato4,#error__borrar_dato4,
#error__dato5,#error__borrar_dato5
{
    height: 45px;
    width: 25%;
    font-size: 12px;
	line-height: 45px;
	background-color: #f66860;
	padding: 0 15px;
    margin-bottom: 10px;
	border-radius: 5px;
    display: none;
}
