body{
    background-color: #cacaca;
}
header.principal{
    box-sizing: border-box;
    
    padding: 45px;
    text-align: center;
    background-color: rgb(255, 204, 0);
    
    
}
header.titulo{
    margin: 40px;
    text-align: center;
}
a{
    color: #009999;
    text-decoration: none;
}

p{
    font-size: 26px;
    text-align: center;
    justify-content: center;
    color: #000000;
}
div{
    font-size: 15px;
    align-items: center;
    width: 100;
    justify-content: center;
    display: block;
}
.td_sup{
    font-size: 15px;
    align-items: center;
    width: 100;
    justify-content: center;
    display: block;
}

.td_inf{
    align-items: center;
    justify-content: center;
    width: 150;
}

.input_text{
    background-color: #0f6377f8 ;
    align-items: center;
    justify-content: center;
    size: 12;
    
    color: #ffbf0f;
    letter-spacing: 3px;
    font-size: 15px;

}

#dia_nacimiento{
    display: none;
}
#mes_nacimiento{
    display: none;
}
#ano_nacimiento{
    display: block;
}
#dia_actual{
    display: none;
}
#mes_actual{
    display: none;
}
#ano_actual{
    display: none;
}
#total{
    display: none;
}